streamlit
supabase
python-dotenv
ultralytics
torch
torchvision
opencv-python
Pillow
numpy
pandas
scipy
scikit-learn
scikit-image
PyYAML
py7zr
plotly
altair
matplotlib
watchdog
river
evidently
pytest
pytest-cov
